body{
    background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.well
{
    background-color: white;
    margin-top: 90px;
    height: 700px;
    width: 600px;
    margin-left: 400px;
        
}
.card-header
{
    padding: .65rem;
    margin-bottom: 1rem;
    background-color: rgba(5,5,5,.09);
}